# Server dir
FXServer/server/crashes/
FXServer/server-data/cache
FXServer/server/starter.bat


FXServer/server/botan.dll
FXServer/server/cfx_curl_x86_64.dll
FXServer/server/citizen-resources-core.dll
FXServer/server/citizen-resources-metadata-lua.dll
FXServer/server/citizen-scripting-core.dll
FXServer/server/citizen-scripting-lua.dll
FXServer/server/citizen-scripting-mono.dll
FXServer/server/citizen-scripting-v8.dll
FXServer/server/citizen-server-impl.dll
FXServer/server/citizen-server-instance.dll
FXServer/server/citizen-server-main.dll
FXServer/server/citizen-server-monitor.dll
FXServer/server/citizen-server-net.dll
FXServer/server/components.json
FXServer/server/comptest.dll
FXServer/server/conhost-server.dll
FXServer/server/CoreRT.dll
FXServer/server/debug-script.dll
FXServer/server/devcon.dll
FXServer/server/FXServer.exe
FXServer/server/http-client.dll
FXServer/server/libuv.dll
FXServer/server/net-base.dll
FXServer/server/net-http-server.dll
FXServer/server/net-tcp-server.dll
FXServer/server/nng.dll
FXServer/server/node.dll
FXServer/server/profiles.dll
FXServer/server/scrbind-base.dll
FXServer/server/scripting-server.dll
FXServer/server/steam.dll
FXServer/server/svadhesive.dll
FXServer/server/vfs-core.dll
FXServer/server/vfs-impl-server.dll
FXServer/server/voip-server-mumble.dll
FXServer/server/citizen/clr2/lib/mono/4.5/CitizenFX.Core.dll
FXServer/server/citizen/clr2/lib/mono/4.5/CitizenFX.Core.pdb
FXServer/server/citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.dll
FXServer/server/citizen/clr2/lib/mono/4.5/CitizenFX.Core.xml
FXServer/server/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.dll
FXServer/server/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.pdb
FXServer/server/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.xml
FXServer/server/citizen/scripting/lua/scheduler.lua
FXServer/server/citizen/scripting/v8/natives_blob.bin
FXServer/txData/admins.json
FXServer/txData/default/data/players.json
FXServer/txData/default/data/playersDB.json
FXServer/txData/default/logs/admin.log
FXServer/txData/default/logs/fxserver.log


