@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.container {
    font-family: 'Raleway', monospace;
}

.spawn-locations {
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgba(24, 27, 32, 0.9);
    border-radius: 20px;
    color: white;
}
.hideContainer :nth-child(n){
    animation-name: an-hideContainer;
    animation-duration: .9s
}
@keyframes an-hideContainer {
    to{ top: -100px; height: 0px; margin-bottom: 0px; font-size: 0px; }
}
.location {
    background-color: rgba(62, 65, 71, 0.6);
    width: 280px;
    height: 40px;
    margin: 16px;
    border-radius: 7px;
    transition: 0.2s;
}

.location > p {
    position: relative;
    color: white;
    text-align: center;
    top: 12.5px;
    font-size: 13px;
    margin: 16px;
}

.location:hover {
    background-color: #97D5F9;
    border-radius: 9px;
    transition: 0.2s;
}

.selected {
    background-color: #97D5F9;
}

.submit-spawn {
    background-color: #97D5F9;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s;
    margin-bottom: -2px;
}

.submit-spawn > p {
    position: relative;
    color: white;
    text-align: center;
    top: 16.5px;
    font-size: 13px;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: bold;
}

.submit-spawn:hover {
    background-color: #8193A3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s;
}

#spawn-label {
    font-weight: bold;
}

.loclabel {
    height: 50px;
    margin-bottom: 16px;
    transition: 0.2s;
    background-color: #97D5F9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -2px;
}

.loclabel > p {
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    color: white;
    text-align: center;
    top: 16.5px;
    font-size: 13px;
}